/* Override browser default */
*{ font-family:Tahoma,Verdana,Serif;}

/* Override Bootstrap */
input[type=text]{height: auto !important; margin-bottom:0px;}
input[type=number]{height: auto !important;}
.fa{font-size: 20px;}
.dropdown-menu{position:fixed;}
a.btn-inverse{color:#FFF;}
/**/

span.link{font-weight:bold;}
#userMenu{top:40px;}


/* Específicas */
#header{height: 30px;padding-bottom: 0px;}
#logo{margin-top: 10px;text-align: center;margin:0 auto;}
#menu{position: absolute;z-index: 200;width: 100%;}
.UpperCase{text-transform: uppercase;}

ul#navmenu {width: 750px;}
.fluff{color: #FF0000;}
.cinza{	background: #EEEEEE;}
/******************
Formularios
********************/
.divlinha{width:100%;display:table;}
.conjunto{display:table;float: left;}
.rotulo{font-weight:bold;float:left; width:150px; text-align:right;padding:5px; min-height:30px}
.campo{min-width:150px;width:auto;overflow:hidden;float:left;min-height:25px;text-align:left;}
.campo input[type=text]{width: 150px;margin-top: 0;height: 20px;}
.campo select{height: 25px;}
/***********************/